body {
  margin: 0;
  box-sizing: border-box;
}
#root {
  --splash: #f6fdff;
  --text-color: #0079ac;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  min-height: 100%;
  background-color: var(--splash);
  justify-content: center;
  padding: 32px 10vw;
}

#main-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 90vw;
}

h1 {
  font-family: "Roboto";
  font-weight: 900;
  text-transform: uppercase;

  font-style: normal;

  font-size: 50px;

  color: #0079ac;
}

.menu-link {
  display: flex;
  flex-direction: column;
  position: relative;
}

.menu-link-label {
  font-family: "Roboto Slab";

  font-size: 35px;
  color: #0079ac;

  text-transform: uppercase;

  min-height: 50px;
  user-select: none;

  transition: ease 0.1s;

  width: fit-content;
  height: fit-content;
}

.menu-link-label:hover {
  cursor: pointer;
  filter: opacity(0.7);
}

.menu-link.selected > .menu-link-label {
  filter: opacity(0.7);
  text-decoration: underline;
  text-decoration-color: currentColor;
}

.content {
  font-family: "Roboto Slab";
  color: black;
  font-size: 24;
  transition: ease 0.15s;
  overflow: hidden;
  top: 60px;
  flex: 1;
  background-color: white;
  box-sizing: border-box;
  border-radius: 6px;
}
.menu-link.selected > .content {
  border: 2px solid #0001;
}
.content.selected {
  border: 2px solid #0001;
}
.content-container {
  padding: 16px;
}

#media-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-self: flex-end;
  flex: 1;
}

.media-icon {
  cursor: pointer;
  transition: ease-out 0.1s;
}

.media-icon:hover {
  transform: scale(1.1);
}

a {
  color: #0079ac;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: currentColor;
}

input {
  font-family: "Roboto Slab";
  background-color: #f6fdff;
  font-size: 24;
  border: 2px solid currentColor;
  border-radius: 8px;
  padding-left: 8px;
  height: 40px;
  transition: ease 0.1s;
  outline: none;
}

input:disabled {
  background-color: #eee;
}

input.error {
  border-color: red;
}

button {
  font-family: "Roboto Slab";
  font-size: 24;
  background-color: #0079ac;
  color: white;
  border: none;
  border-radius: 8px;
  height: 40px;
  padding: 0 16px;
  cursor: pointer;
  transition: ease 0.1s;
}

button:hover {
  background-color: #005f7f;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:active {
  background-color: #004c66;
}

.course-code {
  font-family: "Roboto Slab";
  font-weight: bold;
}

.input-row {
  display: flex;
  gap: 16px;
  margin: 8px;
  max-width: 100%;
  align-items: center;
}

.card-input {
  margin-bottom: 4px;
  width: 48px;
}