<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no" />
<link rel="icon" href="{{ '/x.svg' | relative_url }}" type="image/svg+xml" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;900&display=swap" rel="stylesheet" />
{% if page.stylesheets %}
{% for stylesheet in page.stylesheets %}
<link rel="stylesheet" href="{{ stylesheet | relative_url }}" />
{% endfor %}
{% endif %}
{% if page.mathjax %}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endif %}
